 {
    font-family: Arial, sans-serif;
    margin: 200px;
    padding: 0;
    background-color: #f5f5ff;
}

div.imagen {
    background-image: url(./IMÁGENES/cabecera.jpg);
    font-family: "Varela Round", sans-serif;
    color: #FFFF;
    height: 200px;
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    text-shadow: 2px 2px 2px black;
    position: relative;
}

article.cuadroazul {
    background-color: #055de3;
}

aside.menú {
    background-color: #ffff;
    font-family: "Arvo", serif;
    font-size: 13px;
    height: 1800px;
    width: 180px;
    text-align: center;
    display: flex; 
    position: absolute;
    right: 1360px;
    top: 210px;
    padding-left: 15px;
}



.cabecera {
        font-size: 200px; 
        margin: 85px 0;  
}

.cuadro {
    width: 850px; 
    height: 150px; 
    padding: 10px; 
    margin: 50px; 
    text-align: center; 
    background: linear-gradient(145deg, #055de3, #dcdcdc); 
}

.cuadro02 {
    width: 800px; 
    height: 60px; 
    padding: 10px; 
    margin: 50px; 
    text-align: center; 
    background: linear-gradient(145deg, #055de3, #dcdcdc); 
}

.cuadro03 {
    width: 750px; 
    height: 350px; 
    padding: 10px; 
    margin: 50px;
    text-align: center; 
    background:#1465df;
}

h4 {
    border: 2px solid #1465df;
    padding: 10px;            
    width: 850px;    
    margin: 20px;      
    background: #3f83e8;
}


.p01 {
    padding: 10px;            
    width: 850px;
}

blockquote {
    padding: 10px;          
    width: 850px;      
    margin: 20px;     
}

.p1 {
    padding: 10px;          
    width: 850px;     
    margin: 20px;     
}


.cuadro2 {
    width: 850px; 
    height: 150px;
    background-color: #ececec; 
    padding: 10px; 
    margin: 50px; 
    text-align: center;
}


header h1 {
    margin: 0;
    font-size: 24px;
}


aside {
    float: left;
    width: 20%;
    background-color: #e8eaf6;
    height: 100vh;
    padding-top: 20px;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav ul li {
    margin: 10px 0;
    text-align: center;
}

aside nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    float: left;
    width: 75%;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

div {
    background-color: #dcdcdc;
}

h3 {
    color: #000000;
    border-bottom: 2px solid #010101;
    padding-bottom: 5px;
}

h2 {
    color: #000000;
    padding-bottom: 5px;
}

section ul {
    padding-left: 20px;
}

article img {
    background-color: #dcdcdc;
    display: block;
    margin: 10px;
    border-radius: 10px;
}

footer {
    clear: both;
    background-color: #7dabda;
    color: #ecf0f1;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}

footer p {
    margin: 10px;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logos img {
    margin: 10px;
    width: 100px;
}
